<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World Using PHP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="app/static/css/index.css">
</head>
<body>
    <h1>Hello World Using PHP</h1>
    <p>My First App Using PHP and Urra Hosting</p>

    <p>Want to know how this handle errors?, click below</p>
    <a href="/test" class="btn btn-primary">Go To Unregistered Cases.</a>
</body>
</html>